
.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  color: white;  /* Ensure text contrast for readability */
  border-radius: 50%;  /* Adjusted for a better-rounded shape */
  box-shadow: 
      0 0 10px red, 
      0 0 10px lightgreen, 
      0 0 10px green, 
      0 0 10px pink, 
      0 0 10px yellow, 
      0 0 10px blue, 
      0 0 10px purple;
}
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .counter {
    display: flex;
    gap: 10px;
  }
  .counter div {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .clock{
    margin-right: 50px ;
  }
  .pic{
    margin-bottom: 30px;
  }
  body { 
    background-color: black; 
  } 


